body{
    background-color: rgb(59, 59, 59);
    text-align: center;
    
    font-size: 30px;

}
.App{
    background-color: rgba(245, 244, 244, 0.966);
    color:rgb(59, 59, 59);
    text-align: center;
    padding: 5px;
    box-shadow: 4px 4px 3px rgba(255, 249, 249, 0.829);
    border: 3px solid rgb(226, 56, 4);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    height: 650px;
    width: 600px;
    margin-top: 50px;
    margin-left: 200px;
}
